body {
    margin: 0;
    padding: 0;
    background-color: #313338;
    font-family: Roboto, Arial, sans-serif;
    overflow-x: hidden;
  }
  
  .top-bar {
    background-color: #151617;
    height: 0;
    width: 100%;
    position: relative;
    transition: height 0.8s ease, opacity 0.8s ease;
    overflow: hidden;
    opacity: 0;
    border: solid #1a1b1c;
  }
  
  .top-bar.visible {
    height: 50px;
    opacity: 1;
  }
  
  .lemonlime-text {
    position: absolute;
    top: 15px;
    left: 8px;
    color: #c8c8c8;
    font-size: 16px;
  }
  
  .bar-links {
    position: absolute;
    top: 15px;
    right: 8px;
  }
  
  .bar-links a {
    margin-right: 10px;
    color: #c8c8c8;
    font-size: 16px;
    text-decoration: none;
  }
  
  .bar-title {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #c8c8c8;
    font-size: 16px;
  }
  
  .error-header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #e3e3e3;
    font-size: 35px;
    font-family: sans-serif;
  }
  
  .error-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #e3e3e3;
    font-size: 35px;
    font-family: sans-serif;
  }
  
  .error-link {
    color: #e3e3e3;
    text-decoration: underline;
    font-family: sans-serif;
  }