@charset "utf-8";
/* what is this shit a clone of the discord style */

body {
	background-color: #313338;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

html, body {
    height: 100%;
    margin: 0;
}

.header { color: #f2f3f5;
        font-family: 'gg sans', 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-align: center;
}

.navbar {
  color: #f2f3f5;
  font-family: 'gg sans', 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #1e1f22;
  text-align: left;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  display: flex;
  flex-direction:row;
}

.col {
  flex: 1 1 0px;
}

.navbartitle {
  color: #f2f3f5;
  font-family: 'gg sans', 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #1e1f22;
  text-align: center;  
}

.navbarlinks {
  color: #f2f3f5;
  font-family: 'gg sans', 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #1e1f22;
  text-align: right;
  padding-left: 5px;
  float: right;
}

.link { color: rgb(201, 205, 251);;
        font-family: 'gg sans', 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    border-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 0 5px;
    padding-top: 0px;
    padding-right: 2px;
    padding-bottom: 0px;
    padding-left: 2px;
    background-color: rgba(88, 101, 242, 0.3);
    text-decoration: none;
}

.linksvg {
    width: 0.85em;
    height: 0.85em;
    padding: 5px;
    padding-bottom: 9px;
    vertical-align: middle;
    background-color: rgba(88, 101, 242, 0);


}


.questiondiv { color: #f2f3f5;
        font-family: 'gg sans', 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-align: center;
}

.intro { color: #f2f3f5;
        font-family: 'gg sans', 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-align: center;
}

.responce1 { color: #f2f3f5;
        font-family: 'gg sans', 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-align: center;
}

.ruleslist {
	list-style-type: none
}

.footertext {
	font-size:11px;
	color: #868c95;
	text-align: center;
	font-family: 'gg sans', 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.footerlinks {
  color: #f2f3f5;
  font-family: 'gg sans', 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-align: right;
  padding-left: 5px;
  float: right;
  font-size: 11px;
}


.footer {
    margin-top: auto;
}

.responce2 { color: #f2f3f5;
        font-family: 'gg sans', 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-align: center;
	font-size: 25;
}

.frame{
  border: none;
}

.infotext {
	font-size:9px;
	color: #868c95;
	text-align: center;
	font-family: 'gg sans', 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

