.title {
    text-align: center;
}

.intro {
    text-align: center;
}

.about1 {
    text-align: center;
  }
  
.about2 {
    text-align: center;
  }
  

.aboutul {
    display: inline-block;
    text-align: left;
  }
